.chart-bg {
    background-color: white;
    padding: 15px;
    margin-right: 20px;
    width: 90%;
    border-radius: 10px;
    height:40vh;
}
@media screen and (min-width:768px) {
    .chart-bg {
        background-color: white;
        padding: 15px;
        margin-right: 20px;
        width: 60%;
        border-radius: 10px;
        height:40vh;
    }
}

.chart-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.select-section {
    background-color: rgb(227, 234, 237);
    border-style: none;
    height: 25px;
}